@import 'variables';

.root {
  margin: $space 0;
  padding: $space;
  border: $border;
  border-radius: $border-radius;
}

.header {
  margin-bottom: $space;

  a {
    font-weight: $fw-semi-bold;
  }
}
