@import 'variables';

.root {
  height: calc(100% - 2 * #{$space});
  background-color: $primary-color;
  position: relative;
  padding: $space;
}

.profilePicture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: $border;
}

.footer {
  position: absolute;
  width: 100vh;
  height: 100%;
  transform: rotate(-90deg);
  position: absolute;
  bottom: $small-space;
  left: $small-space;
}
