// -----------------
// SET CSS VARIABLES
// -----------------
@mixin set-css-variables {
  --border: 1px solid rgba(var(--charcoal));
  --border-radius: 4px;
  --border-radius: calc(var(--space) / 4);
  --box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  // SIZES
  --space: 1rem;
  --font-size-small: 14px;
  --font-size-regular: 16px;
  --font-size-medium: 24px;
  --font-size-large: 28px;
  --font-size-very-large: 36px;

  // COLORS
  --primary-color: 14, 71, 73, 1;
  --secondary-color: 239, 231, 218, 1;
  --font-color: var(--charcoal);
  --surface-color: var(--secondary-color);
  --charcoal: 25, 25, 25, 1;
}

// ============================================================================================

// ------------------
// SET SCSS VARIABLES
// ------------------

$border: var(--border);
$border-radius: var(--border-radius);
$border-radius: var(--border-radius);
$box-shadow: var(--box-shadow);

// SIZES
$space: var(--space);
$big-space: calc(2 * #{$space});
$small-space: calc(#{$space} / 2);

// FONT-SIZE
$fs-small: var(--font-size-small);
$fs-regular: var(--font-size-regular);
$fs-medium: var(--font-size-medium);
$fs-large: var(--font-size-large);
$fs-very-large: var(--font-size-very-large);

// FONT-WEIGHT
$fw-light: 300;
$fw-normal: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

// COLORS
$primary-color: RGBA(var(--primary-color));
$secondary-color: RGBA(var(--secondary-color));
$font-color: RGBA(var(--font-color));
$surface-color: RGBA(var(--surface-color));
$charcoal: RGBA(var(--charcoal));

// BREAKPOINTS
$tablet-breakpoint: 768;
$desktop-breakpoint: 1024;
