@import './variables';

html,
body,
#root {
  @include set-css-variables();
  background-color: $surface-color;
  margin: 0;
  padding: 0;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: $fs-regular;
  font-family: 'Courier New', Courier, monospace;
}
